---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto | QuickDevSolutions">
  <h1>Registro</h1>
    <form method="post" class="flex flex-col space-y-4 justify-center items-center mx-auto px-12 py-4 w-64">
      <label>
        Usuario:
        <input type="text" name="username" required />
      </label>
      <label>
        Correo electrónico:
        <input type="email" name="email" required />
      </label>
      <label>
        Contraseña:
        <input type="password" name="password" required minlength="6" />
      </label>
      <button>Enviar</button>
    </form>
</Layout>

<style>
    form{
        background-color: aliceblue;
        & label{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
    }
</style>