---
import "animate.css";
---

<div
  class=" flex sm:flex-row flex-col-reverse mx-auto items-center text-white"
>
  <div class="info sm:mt-28 w-12 sm:w-[50rem] grid sm:ml-28 gap-y-16">
    <h1
      class="text-3xl sm:text-8xl font-bold uppercase text-center sm:text-end "
    >
      Tu solución al <span class="parpadea font-bold text-blue-950"
        >instante</span
      >
    </h1>
    <div class="flex gap-x-28">
      <a
        href="mailto:administracion@quickdevsolution.com"
        target="_blank"
        class="flex items-center justify-center py-3 px-2 bg-cyan-800 text-center h-12 w-32 hover:bg-cyan-900 transition-colors">
        <p>Contáctanos</p>
      </a>

      <a
        href="/proyectos"
        class="flex items-center justify-center py-3 px-2 bg-cyan-800 text-center h-12 w-32 hover:bg-cyan-900 transition-colors"
      >
        Nuestros proyectos
      </a>
    </div>
  </div>
  <div class="photo">Foto acá</div>
</div>

<style>
  @keyframes parpadeo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .parpadea {
    animation: parpadeo 1.2s ease infinite;
  }
</style>
