---
// Importa los componentes necesarios
import Image from "astro/components/Image.astro";
import LogoQuick from "../../public/quick-logo.webp";
import ArrowDown from "../../public/resources/arrow-down.svg";
import proyectos from "../data/proyectos.json";
---

<nav class="flex items-center justify-between px-12 sticky z-10 top-0 transition-all duration-300 navbar-transparent" id="navbar">
  <a href="#">
    <div class="logo">
      <Image
        src={LogoQuick}
        alt="Imagen Logo Quick Dev Solutions"
        class="img-svg max-w-20"
      />
    </div>
  </a>
  <ul class="flex gap-6 font-semibold uppercase">
    <li class="lista-desplegable relative">
      <a href="#proyectos" class="flex gap-4">
        Proyectos realizados
        <Image src={ArrowDown} alt="Flecha para abajo" class="text-white" />
      </a>
      <ul
        class="contenido-desplegable absolute bg-grisOscuro left-0 top-full opacity-0 invisible transition-opacity duration-300 ease-in-out"
      >
        {proyectos.map((proyecto) => (
          <a href={`proyectos/${proyecto.id}`} target="_blank">
            <li>{proyecto.nombre}</li>
          </a>
        ))}
      </ul>
    </li>
    <li>
      <a href="#queofrecemos">¿Qué ofrecemos?</a>
    </li>
    <li>Sobre nosotros</li>
    <li>Contacto</li>
  </ul>
</nav>

<style>
  .navbar-transparent {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .navbar-black {
    @apply bg-slate-900
  }

  .lista-desplegable {
    position: relative;
  }

  .contenido-desplegable {
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    padding: 0.5rem;
    width: max-content;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  /* Mostrar al hacer hover */
  .lista-desplegable:hover .contenido-desplegable {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  ul li {
    transition: color 0.3s ease;
  }

  ul li:hover:not(.lista-desplegable) {
    color: #a4a2a2;
  }
</style>


<script>
  const navbar = document.getElementById('navbar');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 624) { // Cambia el valor según tus necesidades
      navbar.classList.remove('navbar-transparent');
      navbar.classList.add('navbar-black');
    } else {
      navbar.classList.remove('navbar-black');
      navbar.classList.add('navbar-transparent');
    }
  });
</script>
