---
import proyectos from "../data/proyectos.json";
---

<section id="proyectos" class="py-20 bg-gray-900 flex flex-col  gap-y-8">
  <h2 class="text-start pl-12 text-2xl font-bold text-white">
    Proyectos realizados
  </h2>
  <div
    class="container-projects w-[90vw] grid grid-flow-row grid-cols-2 gap-12"
  >
    {
      proyectos.map((proyecto, index) => (
        <div class={`flex items-center ${index % 2 == 0 ? 'flex-row':'flex-row-reverse ml-auto'} w-[50vw] p-12 rounded-xl gap-4 hover:scale-105 transition-transform`}>
          <div class="img-container w-80 h-28 bg-white text-black">Img</div>
          <div class="description">
            <div class="title flex gap-4 items-center">
            <h3>{proyecto.nombre}</h3>
            <a class="text-sm text-blue-500">Ver más</a>
            </div>
            <p>{proyecto.descripcion}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
